@{
    // ViewData["Title"] = "Home Page";
    ViewBag.Title = "Is This Home page?";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>       
    
    <p>This is Home Page</p>
</div>
