@using MVC_Intro.Models.Products
@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "All Products";
}

<div class="container-fluid">

    <div class="row row-cols-4" style="margin-bottom: 5px">
        <form asp-controller="Product" asp-action="All" method="get">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>

    </div>
    <div class="row  row-cols-4">
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">

                <div class="card-header">@ViewData["Title"] </div>
                <ul class="list-group list-group-flush">
                    @foreach (var product in Model)
                    {
                        <li class="list-group-item">
                            <a href="/Product/Details/@product.Id">@product.Name - @product.Price lv</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="row  row-cols-4">
                <a class="btn btn-primary" style="width: 19rem" asp-controller="Product" asp-action="DownloadProductsInfo">Download products info</a>
            </div>
        </div>
    </div>

</div>


